/* Подвал */

.footer-section {
  background-color: $primary-bcg-color;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  color: $primary-white-color;
}

.footer {
  color: $accent-color;
}

.map {
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: $primary-white-color;
}

.mail,
.phone {
  @extend .map;
  color: $footer-links-color;
}

.adress-list-point:not(:last-child) {
  margin-bottom: 8px;
}

.contact {
  margin-bottom: 60px;
}

.title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
}

.title-list {
  display: flex;
  justify-content: center;
}

.title-list-icon:not(:last-child) {
  margin-right: 10px;
}

.subcribe_title {
  display: block;
  margin-top: 60px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $social-footer;
  color: $primary-white-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-list {
  width: 20px;
  height: 20px;
  fill: $primary-white-color;
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: $accent-color;
}

/* Кнопка подвала */

.subcribe__input {
  padding-top: 15px;
  padding-right: 16px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: $primary-bcg-color;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  color: $footer-links-color;
  margin-top: 20px;
}

.subcribe-btn {
  width: 200px;
}

.subcribe__icon {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  fill: $primary-white-color;
}

@media screen and (max-width: 767px) {
  footer > .container {
    text-align: center;
  }
  .subcribe__btn {
    margin-top: 20px;
  }
}

/* Планшет*/

@media screen and (min-width: 768px) and (max-width: 1199px) {
  footer > .container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  .contact {
    width: 50%;
    margin-bottom: 60px;
  }
  .join {
    width: 50%;
    margin-bottom: 60px;
  }
  .subcribe__input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  footer > .container {
    display: flex;
    align-items: baseline;
  }
  .contact {
    margin-right: 69px;
  }
  .adress-list-point:not(:last-child) {
    margin-bottom: 9px;
  }
  .join {
    margin-right: 94px;
  }
  .subcribe__field {
    display: flex;
  }

  .subcribe__input {
    margin-right: 10px;
    width: 358px;
    height: 50px;
    padding-top: 15px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $primary-bcg-color;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: $footer-links-color;
  }
}
