/* Подвал */

.footer-section {
  background-color: $primary-bcg-color;

  .container {
    display: flex;
    background-color: $primary-bcg-color;
  }

  .logo {
    display: flex;
    color: $secondary-white-color;
    margin-bottom: 20px;
  }
  .title {
    font-weight: bold;
    text-transform: uppercase;
    color: $secondary-white-color;
  }
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 69px;
}

.footer {
  color: $accent-color;
}

.adress-list {
  display: flex;
}

.adress-list-point:not(:last-child) {
  margin-bottom: 9px;
}

.join {
  padding-top: 70px;
  padding-bottom: 100px;
  margin-right: 96px;
}

.title {
  display: block;
}

.mail,
.phone {
  font-style: normal;
  line-height: 1.71px;
  color: $primary-text-color;
}

.map {
  font-style: normal;
  color: $secondary-white-color;
}

.title-list {
  display: flex;
  justify-content: space-between;
}

.title-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: $secondary-white-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.footer-icon-list {
  width: 20px;
  height: 20px;
  fill: $secondary-white-color;
}

/* Кнопка подвала */

.subcribe {
  padding-top: 72px;
  padding-bottom: 94px;
}

.subcribe_title {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-white-color;
}

.subcribe__container {
  display: flex;
}

.subcribe__input {
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: $secondary-white-color;
}

.subcribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subcribe__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: $accent-color;
  color: #ffffff;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 6px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subcribe__text {
  margin-right: 10px;
}
.subcribe__icon {
  width: 24px;
  height: 24px;
  fill: $secondary-white-color;
}
