/* Секция героя */
.hero {
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
  background-image: linear-gradient(
      $text-background-color,
      $text-background-color
    ),
    url(../images/header-480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dppi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        $text-background-color,
        $text-background-color
      ),
      url(../images/header-480@2x.jpg);
  }
  &-item {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
  }

  .mainbutton {
    @extend .subcribe__btn;
    font-family: inherit;

    &:hover {
      background-color: $secondary-accent-color;
    }
  }

  @media screen and (min-width: $tablet) {
    .hero {
      max-width: 1199px;
      margin: 0 auto;
      background-image: linear-gradient(
          $text-background-color,
          $text-background-color
        ),
        url(../images/header-768.jpg);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            $text-background-color,
            $text-background-color
          ),
          url(../images/header-768@2x.jpg);
      }
    }
  }
  @media screen and (min-width: 768px) {
    .hero {
      max-width: 1600px;
      margin: 0 auto;
      background-image: linear-gradient(
          $text-background-color,
          $text-background-color
        ),
        url(../images/header-768.jpg);
    }
    .container {
    }
  }

  @media screen and (min-width: 1200px) {
    .hero {
      padding-top: 200px;
      padding-bottom: 200px;
      max-width: 1600px;
      margin: 0 auto;

      background-image: linear-gradient(
          $text-background-color,
          $text-background-color
        ),
        url(../images/header-1200.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            $text-background-color,
            $text-background-color
          ),
          url(../images/header-1200.jpg);
      }
      &-title {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #ffffff;
      }
    }
  } // .hero { // text-align: center; // margin-left: auto; // margin-right: auto; // padding-top: 200px; // padding-bottom: 200px; // max-width: 1600px; // height: 600px; // background-image: linear-gradient(
  //       $text-background-color,
  //       $text-background-color
  //     ),
  // url(../images/Hero/Herois.jpg) ; // background-repeat: no-repeat; // background-size: cover; // background-position: center; // &-item { // margin-top: 0px; // margin-bottom: 30px; // font-weight: 900; // font-size: 44px; // line-height: 1.36; // text-align: center; // letter-spacing: 0.06em; // text-transform: uppercase; // color: $primary-white-color; // } // } // .mainbutton { // @extend .subcribe__btn; // font-family: inherit; // &:hover { // background-color: $secondary-accent-color; // };
}
