/* Модальная кнопка */
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(100%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  visibility: visible;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: translateY(0);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 550ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  padding: 0;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal__icon {
  width: 10px;
  height: 10px;
  margin: auto;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.closebtn:hover .closebtn__icon,
.closebtn:focus .closebtn__icon {
  fill: $accent-color;
}

.modal__invite {
  display: block;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.modal__form {
  display: block;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
.service-order {
  display: flex;
  flex-wrap: wrap;
}

.service-order__label,
.checkbox-comments {
  position: relative;
  margin-bottom: 28px;
}

.service-order__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  &:focus {
    border-color: $accent-color;
  }

  &:not(:placeholder-shown) + .service-order__text {
    transform: translate(-25px, -30px);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $accent-color;
  }
}

.service-order__icon {
  position: absolute;
  top: 11px;
  left: 16px;
  width: 18px;
  height: 18px;
  fill: $secondary-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .service-order__input:focus ~ &,
  .service-order__input:not(:placeholder-shown) ~ & {
    fill: $accent-color;
  }
}

.service-order__text,
.checkbox-comments__text {
  position: absolute;
  top: 12px;
  left: 0;
  margin-left: 42px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .service-order__label:focus-within &,
  .checkbox-comments:focus-within & {
    transform: translate(-25px, -30px);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $accent-color;
  }
}

.checkbox-comments__area {
  resize: none;
  width: 448px;
  height: 120px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  &:not(:placeholder-shown) + .checkbox-comments__text {
    transform: translateY(-30px);
  }

  &:focus {
    border-color: $accent-color;
  }
}

.checkbox-comments__text {
  margin-left: 16px;

  .checkbox-comments__area:not(:placeholder-shown) + & {
    transform: translate(-25px, -30px);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $accent-color;
  }

  &:focus-within .checkbox-comments__text {
    transform: translateY(-30px);
  }
}

.checkbox {
  display: flex;
  align-items: center;
  padding-left: 34px;
  margin-bottom: 30px;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:checked + .checkbox__custom-made .checkbox__icon {
    opacity: 1;
  }
}

.checkbox__custom-made {
  display: flex;
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -23px;
  justify-content: center;
  align-items: center;
  border: 2px solid $secondary-text-color;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox__input:checked + & {
    background-color: $accent-color;
    border: 2px solid $accent-color;
  }
}

.checkbox__icon {
  width: 12px;
  height: 12px;
  fill: $primary-white-color;
  opacity: 0;
}

.checkbox__text {
  margin-right: 4px;
  font-size: 14px;
  line-height: 1.71px;
}

.checkbox__link {
  font-size: 14px;
  line-height: 1.71px;
  text-decoration-line: underline;
  color: $accent-color;
}

.modal .mainbutton {
  margin: auto;
}
