:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-white-color: #ffffff;
  --secondary-white-color: #e0dfe6;
  --primary-bcg-color: #2f303a;
  --secondary-bcg-color: #f5f4fa;
  --socials-main-color: #afb1b8;
}
